@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ReadModel
@{
    ViewData["Title"] = "Restaurant Detail";
}
<div class="container">
    <h3>Restaurant Detail</h3>
    <div>
        <div class="content">
            @if (Model.Product != null)
            {
                <div class="row">
                    <div class="col-md-4">
                        <img src="@Model.Product.Image" class="img-fluid" />
                        <table class="table table-striped">
                            <thead class="thead">
                                <th>Day</th><th>Hours</th>
                            </thead>
                            <tbody>
                                @foreach (var day in new string[] { 
                                    "Monday", "Tuesday", "Wednesday", 
                                    "Thursday", "Friday", "Saturday", "Sunday" })
                                {
                                    <tr>
                                        <td>@day</td>
                                        <td>9:00 AM - 5:00 PM</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8">
                        <h3>@Model.Product.Title</h3>
                        <p>@Model.Product.Description</p>
                        <a href="@Model.Product.Url" target="_blank" class="btn btn-info">Visit Website</a>
                        <a href="/Restaurants/Update/@Model.Product.Id" class="btn btn-primary">Update</a>
                        <a href="/Restaurants/Delete/@Model.Product.Id" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            }
            else
            {
                <h3>Not Found</h3>
            }
        </div>
    </div>
</div>