@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ReadModel
@{
    ViewData["Title"] = "Restaurant Detail";
}
<div class="container">
    <h3>Restaurant Detail</h3>
    <div>
        <div class="content">
            @if (Model.Product != null)
            {
                <div class="row">
                    <div class="col-md-4">
                        <img src="@Model.Product.Image" class="img-fluid" />
                        <table class="table table-striped">
                            <thead class="thead">
                                <th>Day</th><th>Hours</th>
                            </thead>
                            <tbody>
                                @{
                                    var hours = Model.Hours;
                                    for (int i = 0; i < hours.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model.Days[i]</td>
                                            <td>@hours[i]</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8">
                        <h3>@Model.Product.Title</h3>
                        <p>@Model.Product.Description</p>
                        <div class="embed-responsive embed-responsive-16by9 mb-5">
                            @{
                                var apikey = "AIzaSyCUkutN1VIQIdgTfs-xbzw1sxL5woLls3Y";
                                var location = Model.Product.Title + ",Seattle+Washington";
                            }
                            <iframe 
                            class="embed-responsive-item"
                            frameborder="0"
                            referrerpolicy="no-referrer-when-downgrade"
                            src="https://www.google.com/maps/embed/v1/place?key=@apikey&q=@location"
                            allowfullscreen>
                            </iframe>
                        </div>
                        <a href="@Model.Product.Url" target="_blank" class="btn btn-info">Visit Website</a>
                        <a href="/Restaurants/Update/@Model.Product.Id" class="btn btn-primary">Update</a>
                        <a href="/Restaurants/Delete/@Model.Product.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            }
            else
            {
                <h3>Not Found</h3>
            }
        </div>
    </div>
</div>